# Compiled files
/target/

# Generated documentation
/doc/

# Rust VS Code settings
.vscode/

# macOS metadata
.DS_Store

# Editor-specific files
.idea/
*.sublime-workspace
*.sublime-project
*.vscode-project
*.swp